API_ID=20406551
API_HASH=02febae9749eb869b801036a9449b135
BOT_TOKEN=7909658251:AAGDmfs6BhXjwi08Q-IpmHP8kDfsfg6U3Ss
LOGGER_ID=-1002107679944
MONGO_DB_URI=mongodb+srv://himanx3456u_db_user:himanx3456u_db_user@cluster0.lj4h541.mongodb.net/?appName=Cluster0
OWNER_ID=6375272628
STRING_SESSION=BQE3YRcATKYUK3bgBT9hKDu8SACtM4jb7ZfWzjo7U_aWl5z7ju6TCAXfbyQj1QKREmB1th8KwOF0POKoPf3E6hScy2JWTLI3vONZFRxZiB9bJW-1VTmAQQrRWmj2j3gcSJ_1TU4Drafi73Ra4bA1nBMPOsnyJaJJtxt20g5SUO2SsRLleqQwJlzn9D2zsJkBmq1yB8yv1vWQeBOIDMKtlclansjeuVyvAG5DeBysfv8yCNyAliP8bRReZAO8-kLYKdbojayxLgXvc55d2vNrpSfvWHVll3ukdFSTmWYgxzObGkN8yGn1-vNd0GV9YidPKMaxEkfDFHAe81ufJp1Tnr1zsmBv1QAAAAG0vhEcAA


